
= render 'common/sidebar'
.chat-main
  .chat-main__header
    .chat-main__header--group.clearfix
      .chat-main__header--group-name #{@group.name}
      = link_to "edit", edit_group_path(@group.id), class: 'chat-main__header--group-edit-btn'
      .chat-main__header--clearfix
    .chat-main__header-members 
      Member:
      #{@group.users.pluck(:name).join(" ")}
  .chat-main__body
    = render 'messages'
  .chat-main__footer
    = form_for [@group, @message], html: {class: 'chat-main__form'} do |f|
      .chat-main__footer__body
        = f.text_field :body, placeholder: "type a message", class: "message"
        = f.label :image, class: "image_file fa fa-picture-o" do
          = f.file_field :image, class: "image"
        = f.submit "send", class: "send-button"
