.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-name
        = current_user.name
      = link_to new_group_path, class: 'chat-side__user--edit-user'do
        %i.fa.fa-pencil-square-o.fa-fw
      = link_to edit_user_registration_path, class: 'chat-side__user--new-group' do
        %i.fa.fa-cog.fa-fw
  .chat-side__groups
    %ul.chat-side__groups-list
      - @groups.each do |group|
        %li.chat-side__group
          = link_to "" do
            %P.chat-side__group-name
              = group.name
            %P.chat-side__group-message
              - if group.messages.present?
                = group.messages.last.body
              - else
                No message
